body {
	background-color: #f6ca1b;
}

table {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: auto;
	margin-bottom: 50px;
}
.calendar {
	color: steelblue;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	position: relative;
}
caption {
	text-align: left;
	color: steelblue;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
}

thead {
	background: SteelBlue;
	color: white;
}

th,
td {
	padding: 5px 10px;
	border: 2px solid navy;
	border-radius: 10px;
	min-width: 50px;
	text-align: center;
}

tbody tr:nth-child(even) {
	background: WhiteSmoke;
}

button {
	margin: auto;
	position: relative;
}
#drag1 {
	color: #0066ff;
	border-color: #0066ff;
}
#drag2 {
	color: #cc0099;
	border-color: #cc0099;
}
#drag3 {
	color: #009933;
	border-color: #009933;
}
#drag4 {
	color: #8585ad;
	border-color: #8585ad;
}
.employees {
	position: fixed;
	margin-left: 15%;
}
.logo {
	position: relative;
	margin: auto;
}
/*
tbody tr td:nth-child(5),
tbody tr td:nth-child(6),
tbody tr td:nth-child(7) {
	text-align: right;
	font-size: 60%;
}*/
